# Firmware / images / archives
*.img
*.bin
*.dat
*.br
*.new
*.dtb
*.fw
*.rom
*.raw
*.elf
*.xz
*.gz
*.zst
*.zip
*.tar
*.tar.*
*.7z
*.rar

# Android / Java binaries
*.apk
*.apks
*.dex
*.odex
*.vdex
*.art
*.oat
*.idsig
*.jar
*.class
*.aar

# Native libs / objects
*.so
*.so.*
*.a
*.o
*.ko
*.exe
*.dll
*.dylib

# Keys / certs
*.pk8
*.keystore
*.pem
*.der
*.key

# Patch leftovers
*.orig
*.rej
*.patched
*.patched2
*.p3

# Media
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.mp4
*.mkv
*.mov
*.wav
*.mp3
/bootclean/kernel
/bootclean/rd/init
/bootclean/rd/sbin/charger
/bootclean/rd/sbin/ueventd
/bootclean/rd/sbin/watchdogd
/bootpatch/kernel
/bootpatch/rd/.backup/.rmlist
/bootpatch/rd/init
/bootpatch/rd/sbin/charger
/bootpatch/rd/sbin/ueventd
/bootpatch/rd/sbin/watchdogd
/vrbins/pvrservice
/vrbins/pvr_compute
/vrbins/pxrconfigservicetest
/vrbins/pxrnotification_test
/vrbins/qvrcameratest
/vrbins/qvrcameratest64
/vrbins/qvrcameratseq
/vrbins/qvrcameratseq64
/vrbins/qvrservice
/vrbins/qvrservicetest
/vrbins/qvrservicetest64
